@charset "UTF-8";

/* 
Paleta de cores
Verde: #49a09d
lilaez: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.581);

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

#login>#imagem {
    display: block;
    background: url(../imagens/parede.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

#login>#formulario {
    display: block;
    padding: 10px;
}

#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

#login>p {
    font-size: .8em;
}

form>div.campo{
    background-color: #5f2c82;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;

}

form label{
    display: none;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form>input[type=submit]:hover {
    background-color: #2e6563;
}

form>a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: #2e6563;
    border: 1px solid #2e6563;
    border-radius: 5px;
    text-decoration: none;
}

form>a.botao:hover{
    background-color: #65d9d5;

}

form>a.botao>i{
    font-size: .8em;
}